---
http_interactions:
- request:
    method: post
    uri: https://us11.api.mailchimp.com/2.0/lists/batch-subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"abc","id":"123","batch":[{"email":{"email":"david.gilmour@gmail.com"}},{"email":{"email":"nick.mason@gmail.com"}}],"update_existing":true,"double_optin":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"add_count":2,"adds":[{"email":"david.gilmour@gmail.com","euid":"ab6c36efe5","leid":"198566033"},{"email":"nick.mason@gmail.com","euid":"f96a1d04c5","leid":"198566037"}],"update_count":0,"updates":[],"error_count":0,"errors":[]}'
  recorded_at: Tue, 15 Mar 2016 03:57:20 GMT
[...]
- request:
    method: post
    uri: https://us11.api.mailchimp.com/2.0/lists/batch-subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"abc","id":"123","batch":[{"email":{"email":"nick.mason@gmail.com"}}],"update_existing":true,"double_optin":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"add_count":0,"adds":[],"update_count":1,"updates":[{"email":"nick.mason@gmail.com","euid":"f96a1d04c5","leid":"198566037"}],"error_count":0,"errors":[]}'
  recorded_at: Tue, 15 Mar 2016 03:57:20 GMT
recorded_with: VCR 3.0.1
