---
http_interactions:
- request:
    method: post
    uri: https://us11.api.mailchimp.com/2.0/lists/batch-subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"abc-us11","id":"123","batch":[{"email":{"email":"test@test.com"}}],"update_existing":true,"double_optin":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"add_count":1,"adds":[{"email":"test@test.com","euid":"928c1468b8","leid":"198566025"}],"update_count":0,"updates":[],"error_count":0,"errors":[]}'
  recorded_at: Tue, 15 Mar 2016 04:30:04 GMT
recorded_with: VCR 3.0.1
